/LAB3/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_05_2025,_11_18_[Changes]/BullsAndCows.class
/LAB3/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_05_2025,_11_18_[Changes]1/BullsAndCows.class
/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_05_2025,_11_45_[Changes]/shelved.patch
/LAB3/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_05_2025,_11_18_[Changes]/shelved.patch
/LAB3/.idea/shelf/Uncommitted_changes_before_Checkout_at_08_05_2025,_11_18_[Changes]1/shelved.patch

